In [1]:
dir(_builtin_)

NameError: name '_builtin_' is not defined

In [20]:
list1 = [10,34,54,26,26,3,52,2514,6,431,6,431,6,4316]
tuple1 = {214,53,1,5,31,5,341,6,2,613,}
set1 = {35,321,21,6,43,1,64,31,6,435,123,4,1}

'''
len() : 군집자료형의 개수
max() : 군집자료형의 최대값
min() : 군집자료형의 최소값
sum() : 합
sorted() : 오름차순 정렬
reversed() : 내림차순 정렬
'''

In [24]:
list2 = [1,2,3,4]
list(reversed(list2))

[4, 3, 2, 1]

In [ ]:
## print("len() : ", len(list1))
print("max() : ", len(list1))
print("min() :",min(list1))
print("sum() : ",sum(list1))
print("sorted() : ", sorted(list1))
print("reversed() : ", list(reversed(list1)) )

In [10]:
사용자 정의 함수

SyntaxError: invalid syntax (<ipython-input-10-3803b2123d23>, line 1)

In [11]:
def cal_sum(a,b):
    return a+b

In [12]:
cal_sum(100,5000)

5100

In [13]:
def cal_sum(a,b):
    """두 입력을 받아 더한 값 리턴하는 함수"""
    result = a+b
    return result

In [14]:
cal_sum(1,1)

2

In [39]:
def 나누기(a,b):
    식 = a/b
    return print("답은 : ",식,"입니다.")

In [40]:
def 곱하기(a,b):
    식2 = a*b
    return 식2

In [41]:
곱하기(4,2)

8

In [42]:
나누기(4,2)

답은 :  2.0 입니다.

In [44]:
##find_max(a,b) 두 값중 더 큰 값을 찾는 함수
def resume():
    print("안녕하세요 조현기입니다.")
    print("저는 홍익대학교 경영학과 재학중 입니다.")

In [46]:
resume()

안녕하세요 조현기입니다.
저는 홍익대학교 경영학과 재학중 입니다.

In [51]:

def 자기소개():
    학교=input("학교를 입력하세요 : ")
    과=input("과를 입력하세요 : ")
    print("저는", 학교, 과, "재학중 입니다.")

In [52]:
자기소개()

학교를 입력하세요 : 홍익대학교
과를 입력하세요 : 경영학과
저는 홍익대학교 경영학과 재학중 입니다.

In [61]:
def print2():
   print("-"*30, "\n","@"*30)

In [62]:
print2()

------------------------------
 @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

In [67]:
def avg1(K,E,M):
    sum1=(K+E+M)
    avge=(sum1/3)
    return avge

In [68]:
K = int(input("국어 성적을 입력하시오 : "))
E = int(input("영어 성적을 입력하시오 : "))
M = int(input("수학 성적을 입력하시오: "))
avg1(K,E,M)

국어 성적을 입력하시오 : 2
영어 성적을 입력하시오 : 3
수학 성적을 입력하시오: 4

3.0

In [76]:
def min1(a,b):
    if a>b:
        c=b
    else :
        c=a
    return c

In [77]:
print(min1(24134125,2))

2

In [86]:
def AnM(a,b):
    A=a+b
    M=a*b
    return print("더한 값은 : ",A , " 곱한 값은 : " ,M)

In [87]:
AnM(5,7)

더한 값은 :  12  곱한 값은 :  35